@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-sand: 242 242 247;
    --color-surface: 255 255 255;
    --color-surface-light: 229 229 234;
    --color-ink: 28 28 30;
    --color-muted: 142 142 147;
  }

  .dark:root {
    --color-sand: 0 0 0;
    --color-surface: 28 28 30;
    --color-surface-light: 58 58 60;
    --color-ink: 242 242 247;
    --color-muted: 174 174 178;
  }
}
